<div layout="column" role="main" class="demo-container"  flex>
	<md-toolbar md-scroll-shrink>
	<div class="md-toolbar-tools">
		<div layout="row" flex class="fill-height">
			<div class="md-toolbar-item md-breadcrumb">
		  		<h2>智能诊断</h2>
		  	</div>
		</div>
	</div>
	</md-toolbar>
	<div class="ng-scope ">
	  	<md-content class="md-padding ng-scope md-default-theme">
	  		<div layout="column" style="z-index:1">
			    <md-card ng-repeat="question in qa" class="green">
			      <md-card-content>
			        <h2 ng-if="question.q_txt!=null">{{question.q_txt}}</h2>
					<h2 ng-if="question.q_txt==null">以下适合的有</h2>
			        <p ng-repeat="item in question.items">
			        	<md-checkbox ng-model="item.a_val" ng-true-value="0.9" ng-false-value="0.1" class="md-warn">
						    {{ item.a_txt }}
						</md-checkbox>
			        </p>
			      </md-card-content>
			    </md-card>

				 <div ng-if="diagnosis.length>0">
				    <md-card>
				      <md-card-content>
				        <h2>模拟诊断</h2>
				        <table class="table table-striped">
								<thead>
									<tr>
										<th>可能疾病</th>
										<th>评估</th>
									</tr>
								</thead>
								<tbody ng-repeat="dg in diagnosis">
									<tr>
										<td>{{ dg.d_txt }}</td>
										<td>{{ dg.d_eval }}</td>
									</tr>
								</tbody>
							</table>
				      </md-card-content>
				    </md-card>
			    </div>

			    <div ng-if="advices.length>0">
				    <md-card>
				      <md-card-content>
				        <h2>推荐检查</h2>
				        <table class="table table-striped">
								<thead>
									<tr>
										<th>检查项目</th>
										<th>重要性</th>
									</tr>
								</thead>
								<tbody ng-repeat="ad in advices">
									<tr>
										<td>{{ ad.name }}</td>
										<td>{{ ad.imp }}</td>
									</tr>
								</tbody>
							</table>
				      </md-card-content>
				    </md-card>
			    </div>	 
			</div>
		</md-content>
	</div>

<nav mfb-menu position="br" effect="fountain" toggling-method="hover" label="自动" 
        active-icon="glyphicon glyphicon-ok" resting-icon="glyphicon glyphicon-ok">
  <a mfb-button icon="glyphicon glyphicon-play" label="自动" ng-click="proceed('auto')"></a>
  <a mfb-button icon="glyphicon glyphicon-forward" label="继续提问" ng-click="proceed('more')"></a>
  <a mfb-button icon="glyphicon glyphicon-filter" label="模拟诊断" ng-click="proceed('diagnosis')"></a>
  <a mfb-button icon="glyphicon glyphicon-erase" label="检查建议" ng-click="proceed('advice')"></a>
</nav>

</div>
