<div class="container span9">
	<div class="span9" ng-repeat="question in qa">
		<div class="card">
			<h2 class="card-heading page-header" ng-if="question.q_txt!=null">{{question.q_txt}}</h2>
			<div class="card-body" ng-repeat="item in question.items">	
				{{ item.a_txt }}
				<div class="btn-group">
					<button class="btn glyphicon glyphicon-remove" ng-model="item.a_val" btn-radio="0.1" uncheckable></button>
			        <button class="btn glyphicon glyphicon-option-horizontal" ng-model="item.a_val" btn-radio="0.5" uncheckable></button>
			        <button class="btn glyphicon glyphicon-ok" ng-model="item.a_val" btn-radio="0.9" uncheckable></button>
				</div> 
				{{ item.a_val }}
			</div>
			<br >
		</div>
	</div>

	<div class="span9" ng-if="diagnosis.length>0">
		<div class="card">
			<h2 class="card-heading page-header">模拟诊断</h2>
			<div class="card-body">		
				<table class="table table-striped">
					<thead>
						<tr>
							<th>可能疾病</th>
							<th>评估</th>
					</thead>
					<tbody ng-repeat="dg in diagnosis">
						<tr>
							<td>{{ dg.d_txt }}</td>
							<td>{{ dg.d_eval }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<br >
		</div>
	</div>

	<div class="span9" ng-if="advices.length>0">
		<div class="card">
			<h2 class="card-heading page-header">推荐检查</h2>
			<div class="card-body">		
				<table class="table table-striped">
					<thead>
						<tr>
							<th>检查项目</th>
							<th>重要性</th>
					</thead>
					<tbody ng-repeat="ad in advices">
						<tr>
							<td>{{ ad.name }}</td>
							<td>{{ ad.imp }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<br >
		</div>
	</div>

	<br >
	<div class="row-fluid">
		<button type="button" class="btn btn-default" ng-click="proceed('auto')">自动</button>
		<button type="button" class="btn btn-success" ng-click="proceed('more')">继续提问</button>
		<button type="button" class="btn btn-primary" ng-click="proceed('diagnosis')">模拟诊断</button>
		<button type="button" class="btn btn-info" ng-click="proceed('advice')">检查建议</button>
	</div>
	<br >
</div>