body {
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  font-size: 14px;
}

md-content {
	display: block;
	position:relative;
	overflow:auto;
	-webkit-overflow-scrolling:touch;
}

md-card {
	background-color: #fefefe;
	max-width: 750px;
    margin-left:auto;
    margin-right:auto;
}

md-toolbar{
	font-weight:bold;

}


.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0; 
  position: absolute;
  width: 1px;
}

#loading-bar .bar {
	background: #66CCFF;
}

#loading-bar-spinner .spinner-icon {
	border-top-color:  #66CCFF;
 	border-left-color: #66CCFF;
}